version: '3'
services:
  api:
    build: .
    ports:
      - "8000:8000"
    # env_file:
    #   - .env
    environment:
      - database_type=postgresql
      - database_engine=psycopg2
      - DB_USERNAME=postgres
      - DB_PASSWORD=passwd
      - DB_HOSTNAME=postgres # DNS will resolve to service mentioned in value if though we are not exposing the port outside docker.
      - DB_PORT=5432
      - DATABASE_NAME=fastapi
      - SECRTE_KEY=71d9c2db8acb64e6a7e0cb6bfff07c4e2f10a819108fa1ad49bb0862c2a42fcf
      - ALGORITHM=HS256
      - ACCESS_TOKEN_EXPIRE_MINUTES=30
    depends_on:
      - postgres
    volumes:
      - ./:/usr/src/app:ro
    command: uvicorn app.main:app --host 0.0.0.0 --port 8000 --reload
    
  postgres:
    image: postgres
    environment:
      - POSTGRES_PASSWORD=passwd
      - POSTGRES_DB=fastapi
    volumes:
      - postgres-db:/var/lib/posrgresql/data

volumes:
  postgres-db:
