# sudo apt-get install libpq-dev

alembic
annotated-types
anyio
bcrypt
certifi
cffi
click
colorama
cryptography
dnspython
ecdsa
elastic-transport
elasticsearch
email_validator
exceptiongroup
fastapi
greenlet
h11
httpcore
httptools
httpx
idna
itsdangerous
Jinja2
Mako
MarkupSafe
mypy-extensions
orjson
packaging
passlib
pathspec
platformdirs
psycopg2
psycopg2-binary
pyasn1
pycodestyle
pycparser
pydantic
pydantic-extra-types
pydantic-settings
pydantic_core
python-dotenv
python-jose
python-multipart
PyYAML
rsa
six
sniffio
SQLAlchemy
starlette
tomli
typing_extensions
ujson
urllib3
uvicorn
watchfiles
websockets
